html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #20001f;
  background: -webkit-linear-gradient(to top, #064046, #240022);
  background: linear-gradient(to top, #052d30, #1b001a);
  a {
    text-decoration: none;
  }
}
