/* estilos header */
header {
  #particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
  }
  .hero {
    position: relative;
    @extend %display-flex;
    .neon {
      position: relative;
      display: inline-block;
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: none;
      overflow: hidden;
      letter-spacing: 8px;
      text-shadow: 0 0 $medida-principal #000000,
        0 0 $medida-principal $color-principal, 0 0 20px $color-principal;
      transition: 0.2;
      z-index: 99;
    }
    .titulo {
      font-family: crossorigin;
      font-size: xx-large;
    }
    .n2 {
      margin-bottom: 35px;
      font-size: 58px;
      margin-top: $medida-principal;
      border-radius: $medida-principal;
    }
    img {
      margin-top: 30px;
    }
  }
  .neon:hover,
  .subT:hover {
    @include color(#e1dae6, #0d0120);
    border-radius: 20px;
    box-shadow: 0 0 30px $color-principal, 0 0 60px $color-principal,
      0 0 80px $color-principal;
  }
}
