/* estilos main */
main {
  section {
    nav {
      box-shadow: rgba(255, 255, 255, 0.603) 0px 8px 24px;
      position: sticky;
      top: 0;
      z-index: 90;
      div {
        background: rgba(255, 255, 255, 0.678);
        height: 80px;
        box-shadow: rgba(255, 255, 255, 0.63) 0px 8px 24px;
        display: flex;
        overflow: hidden;
        z-index: 90;
        a {
          flex: 1;
          height: $height-principal - 100%;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: $color-secundario;
        }
      }

      a:hover {
        @include color(#f0f0f0, rgb(17, 0, 29));
      }
    }
    .secciones {
      @extend %display-flex;
      margin: auto;
      padding-top: 90px;
      width: $width-principal - 30;
      .card {
        background: rgb(255, 255, 255);
        height: $height-principal - 110%;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 5px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
      h2 {
        font-size: 25px;
        margin: 5px;
      }
      p {
        line-height: 38px;
        color: #494949;
        font-size: 15px;
        margin-bottom: $medida-principal;
      }
      img {
        vertical-align: top;
        margin-bottom: $medida-principal;
        width: $width-principal - 35;
      }
    }
  }
}
