$width-principal: 100%;

main section .secciones {
  width: $width-principal - 30;
}

main section .secciones img {
  width: $width-principal - 35;
}

main .container form {
  width: $width-principal - 55;
}

main .container form input,
main .container form textarea {
  width: $width-principal - 20;
}

main .container form button {
  width: ($width-principal/2) - 20;
}
